<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oj! Coś poszło nie tak</title>
</head>
<body>
    <p>Nie ma takiej strony! :C</p>
</body>
</html>